.matchtools-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.waitlist-table-container{
    height: 200px;
    overflow: scroll;
}