.matchmaker-tab {
    width: 90vw;
    height: auto;
}

.matches-container {
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
}

.matchuser-subheader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
