.matchuseroption-container {
    background-color: white;
    border-radius: 10px;
    padding: 4px;
    width: auto;
    margin-bottom: 4px;
    cursor: pointer;
}

.male {
    background-color: lightblue;
}

.female {
    background-color: pink; 
}

.matchuseroption-container:hover {
    border-style: solid;
    border-width: 4px;
    border-color: lightgrey;
}
.male:hover {
    border-color: blue;
}
.female:hover {
    border-color: red; 
}

.matchuseroption-text {
    font-weight: bold;
    margin:0

}