.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 24px;
    justify-content: space-around;
    margin-bottom: 24px
}

.header-text{
    margin-right: 24px;
}