.simsettings-box{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color:red;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
}
.simsettings-header_text{
    color:red;
    font-weight: bold;
}

.simsettings-body {
    display: flex;
    flex-direction: row;
}

#datebuffer-form{
    width: 50%;
    font-size: 12px;
    padding:2px
}

#dateduration-form{
    width: 50%;
    font-size: 12px;
    padding:2px
}
#minimumdate-form{
    width: 30%;
    font-size: 12px;
    padding:2px
}

.simsettings-form_label{
    font-size: 12px;
    margin: 0;

}