.podoption-container {
    background-color: white;
    border-style: solid;
    border-color: lightgray;
    border-radius: 10px;
    padding: 6px 0 0px;
    width: 100px;
    margin: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.podoption-container:hover {
    background-color: lightgrey;
    color:white;
    border-width: 4px;
}

.podoption-text {
    font-weight: bold;

}