.matchoptionsbody-container{
    height: 100%;
    overflow-y: scroll;
    width: 100%;
}
.matchuser-list{
    max-height: 500px;
    overflow-y: scroll;
}

.matchpod-list {
    max-height: 500px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-height: 500px;
    overflow-y: scroll;
   background-color: aqua;
   justify-content: center;
}

.matchselection-preview-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
}

.matchnames {
    display: flex;
    flex-direction: row;
    color:white;
}

.matchbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}