
.dashboard-tab {
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: column;
}

.charts-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}